# VideoEncoder - a telegram bot for compressing/encoding videos in h264 format.
# Copyright (c) 2021 WeebTime/VideoEncoder
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published
# by the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.

# Basics #
API_ID = 6146411
API_HASH = "279c5805accac5a35f6bc8c2e38ac036"
BOT_TOKEN = "5005535376:AAFvB5dkwxU1Vs3S02oCuogWTN_TSKWQcIw"

# Authorization #
SUDO_USERS = "1779283738 1143492740" # List of sudo user's id, separated by space.

# Encode Settings #
PRESET = "sf"
TUNE = "film"
AUDIO = "opus"

# Optional #
DOC_THUMB = 0
UPLOAD_AS_DOC = 0
DOWNLOAD_DIR = "VideoEncoder/utils/downloads/"
ENCODE_DIR = "VideoEncoder/utils/encodes/"
